:root {
    --azul-primario: #33A8D8;
    --branco: #FFF;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: black;
}

/* HEADER */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0 0 0 / 0.6), rgba(49 168 221 / 0.2), rgba(0 0 0 / 0.6)), url(/assets/images/banner.png);   
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 60.5rem;
    border-bottom: 1px solid var(--azul-primario);
}

.banner-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    width: 51rem;
    height: 50rem;
    margin: auto;
}

.logo {
    display: grid;
    place-items: center;
    width: 25rem;
    height: 25rem;
    background-color: rgba(0 0 0 / 0.2);
    border-radius: 50%;
    padding: 1.6rem;
}

.logo img {
    width: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--azul-primario);
    background: linear-gradient(180deg, rgba(51 168 219 / 1), rgba(20 114 183 / 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.banner p {
    color: var(--branco);
    font-size: 1.9rem;
    font-weight: 400;
    text-align: center;
}

button {
    border: 2px solid var(--azul-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 6rem;
    gap: 31px;
    background-color: transparent;
    color: var(--azul-primario);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3.36px;
}

/* SECTION COURSE-CONTENT */

#course-content {
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    width: 51rem;
    margin: auto;
}

#course-content h2 {
    color: var(--azul-primario);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 6.08px;
    text-transform: uppercase;
    margin: 5rem 1rem 3rem;
}

#course-content p{
    color: var(--branco);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .2px;
}

#course-content .modules-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

#course-content .module {
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    color: var(--branco);
    margin: 2rem;
    border-radius: 3.5rem;
    border: 1px solid var(--azul-primario);
    gap: 0.6rem;
    padding: 1.5rem 5rem;
    display: block;
    width: 100%;
    text-align: center;
    background: #252525;
    letter-spacing: .2px;
}

#course-content .module span {
    color: var(--azul-primario);
}

/* TRANSFORM-WORLD */

#transform-world {
    background-image: url(/assets/images/woman-code.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 42%;
    height: 33rem;
    position: relative;
}

#transform-world p {
    width: 18.25rem;
    font-size: 2.8rem;
    color: var(--branco);
    font-weight: 900;
    text-shadow: 3px 2px 0px var(--azul-primario);
    position: absolute;
    top: 35%;
    left: 14%;
    text-transform: lowercase;
    box-sizing: border-box;
    padding: 0 3px;
}